%h3 Attach files

= form_for :attached_file, url: attached_files_url, html: { enctype: "multipart/form-data", method: :post } do |f|
  = hidden_field_tag 'storage_id',   storage.to_param
  = hidden_field_tag 'storage_type', storage.class
  
  .field
    = file_field_tag 'files[]', class: :test_multi
  
  %p= f.submit "Upload"