- attaches = storage.attached_files

- attaches.each do |attach|
  %p
    - if attach.is_image?
      - if attach.processing == 'finished'
        = link_to attach.styled_url(:original) do
          = image_tag attach.styled_url(:preview)
        \|
        = link_to "rotate <", rotate_left_url(attach), method: :patch
        \|
        = link_to "rotate >", rotate_right_url(attach), method: :patch
        \|
      - else
        Image Under Processing
    - else
      %span{ class: "file_type #{attach.file_extension}" }

    = attach.attachment_file_name
    = link_to attach.url, attach.url
    = attach.mb_size

-# if attach.is_image?
  %div{ style: "margin: 10px" }
    = image_tag attach.url, class: :crop_image
  :javascript
    $(function(){ $('.crop_image').Jcrop() })