- uploaded_files = storage.uploaded_files.reversed_nested_set.active.all.paginate(:page=>params[:page], :per_page=>25)

- unless uploaded_files.blank? 
  = will_paginate uploaded_files
   
  %ul.uploaded_files_list
    - uploaded_files.each do |uploaded_file|
      %li
        .form.overblock
          .upload_file_header
            .icon
              - img = uploaded_file.is_image? ? |
                image_tag(uploaded_file.file.url(:small), :alt=>uploaded_file.file_file_name) : |
                file_type_icon(uploaded_file) |
              = link_to img, uploaded_file.full_filepath, :title=>uploaded_file.title, :class=>(uploaded_file.is_image? ? :gallery : nil )
            .title
              = link_to uploaded_file.file_file_name, uploaded_file.full_filepath, :title=>uploaded_file.title
            .file_size
              = sprintf("%.3f", (uploaded_file.file.size.to_f/1.megabyte.to_f))
              = t('shared.megabytes')
          %p
            %label{:name=>:url}= t('shared.url_address')
            %input{:value=>uploaded_file.full_filepath, :class=>:input}

          = link_to t('uploaded_files.delete'), uploaded_file_url(uploaded_file, :subdomain=>@user.subdomain), :method=>:delete, :class=>'button delete', :confirm=>t('uploaded_files.delete_confirm')

          - id = object_id(uploaded_file, 'other_codes_link')
          - fn = "show_other_codes('#{object_id(uploaded_file)}')"
          = link_to_function t('uploaded_files.other_codes'), fn, :class=>:button, :id=>id

          %div{:id=>object_id(uploaded_file, 'other_codes'), :style=>'display:none;'}
            %p
              %label{:name=>:textile_link}= t('uploaded_files.textile_link')
              %input{:value=>uploaded_file.to_textile_link, :class=>:input}
            %p
              %label{:name=>:center_textile_link}= t('uploaded_files.center_code')
              %input{:value=>'p=. '+uploaded_file.to_textile_link, :class=>:input}
            - fn = "hide_other_codes('#{object_id(uploaded_file)}')"
            = link_to_function t('uploaded_files.hide_other_codes'), fn, :class=>:button

    = will_paginate uploaded_files